<div *ngFor="let i of empData let index  = index" class="container">
  <div *ngIf="index==numberIndex">
  <h2>{{i.empName}} {{i.empSurName}}</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      {{i.empEmail}}
<br/>
<hr>
<b>Salary</b> : {{i.empSalary}}
<hr>
<b>Employee Date</b> : {{i["empDate"]}}
<hr>
<a (click)="backpage()" href="javascript:void(0);">Black</a>&nbsp;
<a *ngIf="numberIndex<(totalRecord)" href="javascript:void(0);" (click)="nextxpage()">Next</a>
    </div>

</div>
</div>
</div>
